
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 24px;
}

.intro-text {
    width: 600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e1e8ed;
    border-radius: 4px;
    padding: 4px;
}

.required-field-legend {
    font-weight: bold;
    margin-bottom: 1.5em;
}

.form-help-text {
    font-weight: bold;
}

form.single-form .control-label {
    text-align: right;
}

form.formset .control-label {
    text-align: left;
}

/* Prevent the select options from being temporarily visible before select2 initializes. */
.with-select2 option {
    visibility: hidden;
}

/* Widths for various form tables. */
.tag-table-container {
    width: 300px;
}

.tasktype-table-container {
    width: 850px;
}

.table-container.tasktype-table-container select.selectmultiple {
    width: 300px;
}

.participant-table-container {
    width: 850px;
}

/* Default widget widths. */

.table-container .widget-textinput {
    width: 250px;
}

.table-container .widget-dateinput {
    width: 100px;
}

.table-container .widget-userwidget {
    width: 400px;
}

.table-container .widget-numberinput {
    width: 70px;
}

.table-container .widget-checkboxinput {
    height: 34px;
    width: 100%;
    margin: 0 0 0 6px;
}

.table-container select {
    width: 300px;
}

.table-container select.selectmultiple {
    width: 400px;
}

.table > tbody > tr > td.table-row-counter {
    vertical-align: middle;
}

.table > tbody > tr > td.create-only-field-legend {
    vertical-align: middle;
}

a.faq-anchor {
    /* Compensate for the fixed header. */
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 24px;
    border-top: 1px solid #e1e8ed;
    background-color: #f5f5f5;
}

.footer p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    margin-left: 30px;
}
