
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 24px;
}

code {
    color: green;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.intro-text {
    width: 600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e1e8ed;
    border-radius: 4px;
    padding: 4px;
}

.modal-body {
  font-size: larger;
}

.required-field-legend {
    font-weight: bold;
    margin-bottom: 1.5em;
}

.form-help-text {
    font-weight: bold;
}

form.single-form .control-label {
    text-align: right;
}

form.formset .control-label {
    text-align: left;
}

.tasks-by-date-link {
    font-size: larger;
    font-weight: bold;
    padding: 4px;
}

.burn-logo {
    font-size: larger;
    font-weight: bold;
    padding: 4px;
}

.date-nav-links {
    width: 400px;
}

.date-nav-links .data-nav-prev {
    float: left;
}

.date-nav-links .date-nav-next {
    float: right;
}

/* Prevent the select options from being temporarily visible before select2 initializes. */
.with-select2 select {
    display: none;
}

/* Widths for various form tables. */
.tag-table-container {
    width: 300px;
}

.tasktype-table-container {
    width: 850px;
}

.type-table-container {
    width: 900px;
}

.table-container.tasktype-table-container select.selectmultiple {
    width: 300px;
}

.participant-scores-table-container {
    width: 250px;
}

.participant-table-container {
    width: 900px;
}

.participant-table-container .field-tags {
    width: 200px;
}

.event-menu-container {
    width: 300px;
}
.event-stats-summary-container {
    width: 200px;
    vertical-align: top;
    padding-top: 20px;
}

.file-upload-path {
    padding-left: 8px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
}

/* Default widget widths. */

.table-container .widget-textinput {
    width: 250px;
}

.table-container .widget-dateinput {
    width: 85px;
    padding: 6px 4px;
}

.table-container .widget-userwidget {
    width: 340px;
}

.table-container .widget-numberinput {
    width: 70px;
}

.table-container .widget-checkboxinput {
    height: 34px;
    width: 100%;
    margin: 0 0 0 6px;
}

.table-container select {
    width: 300px;
}

.table-container select.field-tags {
    width: 250px;
}

.table-container.participant-table-container select.field-tags {
    width: 300px;
}

.table-container select.field-do_not_assign_to {
    width: 200px;
}

.table-container select.field-do_not_assign_with {
    width: 200px;
}

.table > tbody > tr > td.table-row-counter {
    vertical-align: middle;
}

.table > tbody > tr > td.create-only-field-legend {
    vertical-align: middle;
}

.table > tbody > tr > td.table-row-designator {
    vertical-align: middle;
    font-weight: bold;
}

td.task-type-name-col {
    width: 300px;
}

/*.table-all-tasks {*/
    /*border: 1px solid black;*/
/*}*/

.assignee-option.disqualified-for-date::after {
    font-family: 'Glyphicons Halflings';
    content: "   \e109";
}

.assignee-option.disqualified-for-tags::after {
    font-family: 'Glyphicons Halflings';
    content: "   \e041";
}

a.faq-anchor {
    /* Compensate for the fixed header. */
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 24px;
    border-top: 1px solid #e1e8ed;
    background-color: #f5f5f5;
}

.footer p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    margin-left: 30px;
}
