{# Copyright 2016 Mystopia. #}
{% extends 'dicpick/base.html' %}
{% load i18n %}
{% load dicpick_helpers %}


{% block content %}
  <legend>All {% trans 'Task' %} Assignments</legend>
  <table class="table table-striped table-bordered table-all-tasks">
    <thead>
    <tr>
      <th class="task-type-name-col"></th>
      {% for date in event.date_range %}
        <th>{{ date|date_to_shortest_str }}</th>
      {% endfor %}
    </tr>
    </thead>
    {% for task_type in event.task_types.all %}
    <tr>
    <td class="task-type-name-col">{{ task_type.name|nbspify }}</td>
    {% for date in event.date_range %}
      <td>
      {% for assignee in assignees|get_item:task_type.id|get_item:date %}
        {{ assignee.short_name|nbspify }}
      {% endfor  %}
      </td>
    {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endblock content %}
