{# Copyright 2016 Mystopia. #}
{% extends 'dicpick/base.html' %}
{% load form_helpers %}

{% block content %}
  <h3 class="form-heading">{% block heading %}{% endblock heading %}</h3>
  <legend>{% block legend %}{{ legend }}{% endblock legend %}</legend>
  {% if help_text %}<div class="form-help-text">{{ help_text|lightweight_formatting }}</div><br>{% endif %}

  {% block extra_top %}{% endblock extra_top %}

  <form {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} method="post"
        class="form-horizontal with-select2 {% block form_class %}{% endblock form_class %}">
    {% csrf_token %}
    {% block form_content %}
    {% endblock form_content %}
    {% if form|has_required_fields %}
      <div class="required-field-legend">* Required field</div>
    {% endif %}
    <input class="btn btn-primary" type="submit" value="Submit">
    <a role="button" class="btn btn-default" href="{% block cancel_url %}{% endblock cancel_url %}">Cancel</a>
  </form>

{% endblock content %}
