{# Copyright 2016 Mystopia. #}
{% extends 'dicpick/form_base.html' %}
{% load dicpick_helpers %}

{% block form_class %}formset{% endblock form_class %}

{% block non_field_errors %}
  {{ block.super }}
  <div class="{% if form.non_form_errors %}has-error{% endif %}">
    {% for error in form.non_form_errors %}
      <span class="help-block field-error"><strong>{{ error }}</strong></span>
    {% endfor %}
  </div>
  {% if form.errors|any %}
    <div class="has-error">
      <span class="help-block field-error"><strong>See inline errors below.</strong></span>
    </div>
    {% endif %}
{% endblock non_field_errors %}

{% block form_content %}
  {% block management_form %}<div>{{ form.management_form }}</div>{% endblock management_form %}

  <div class="table-container {{ form.forms.0.Meta.qualifier }}-table-container">
    <table class="table table-striped table-condensed table-hover">
      <thead>
      <tr>
        <th>#</th>
        {% if form.forms.0.has_designator %}<th>{{ form.forms.0.designator_name }}</th>{% endif %}
        {% for field in form.forms.0 %}
          {% if field.label and not field.is_hidden %}
            <th for="{{ field.auto_id }}"
                class="control-label {% if field.field.required %}requiredField{% endif %}">
              <span data-toggle="tooltip" data-placement="top" title="{{ field.help_text|safe }}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
              </span>
            </th>
          {% endif %}
        {% endfor %}
      </tr>
      </thead>

      <tbody class="inline-formset-tbody">
      {% for inline_form in form %}
        <tr class="{% if inline_form.non_field_errors %}danger{% endif %}">
          <td class="table-row-counter">{{ forloop.counter }}</td>
          {% if inline_form.has_designator %}
            <td class="table-row-designator">
              {% if inline_form.has_designator_link %}<a href="{{ inline_form.designator_link }}">{% endif %}
                {{ inline_form|format_designator }}
              {% if inline_form.has_designator_link %}</a>{% endif %}
            </td>
          {% endif %}
          {% for field in inline_form %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              <td class="{% if field.errors %}has-error{% endif %}">
                {{ field|add_standard_classes }}
                {% for error in field.errors %}
                  <span class="help-block field-error"><strong>{{ error }}</strong></span>
                {% endfor %}
              </td>
            {% endif %}
          {% endfor %}
        </tr>
        {% if inline_form.non_field_errors and not inline_form.is_extra %}
          <td class="has-error" colspan="4">
            {% for error in inline_form.non_field_errors %}
              <span class="help-block field-error"><strong>{{ error }}</strong></span>
            {% endfor %}
          </td>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
