{% load crispy_forms_tags %}
{% load form_helpers %}

<div>
  {{ formset.management_form|crispy }}
</div>

<div class="table-container {{ formset.forms.0.Meta.qualifier }}-table-container">
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>#</th>
        {% for field in formset.forms.0 %}
          {% if field.label and not field.is_hidden %}
            <th for="{{ field.auto_id }}"
                class="control-label {% if field.field.required %}requiredField{% endif %}">
              <span data-toggle="tooltip" data-placement="top" title="{{ field.help_text|safe }}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
              </span>
            </th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>

    <tbody class="inline-formset-tbody">
    {% for form in formset %}
      {% if form_show_errors and not form.is_extra %}
        {% include "bootstrap3/errors.html" %}
      {% endif %}

      <tr>
        <td class="table-row-counter">{{ forloop.counter }}</td>
        {% for field in form %}
          {% include 'bootstrap3/field.html' with tag="td" hide_help_text=True form_show_labels=False %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
