{# Copyright 2016 Mystopia. #}
{% extends 'dicpick/event_related_detail.html' %}
{% load i18n %}
{% load dicpick_helpers %}

{% block content %}
  <legend>Assign {% trans 'Tasks' %} By Date</legend>
  <table class="tasks-by-date-link-table">
    {% for date in event.date_range %}
      <tr>
        <td class="burn-logo">
          {% if date|is_burn %})'({% endif %}
        </td>
        <td class="tasks-by-date-link">
          <a href="{% url 'dicpick:tasks_by_date_update' event.camp.slug event.slug date|date_to_slug %}">{{ date|date_to_pretty_str }}</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}

