{# Copyright 2016 Mystopia. #}
{% extends 'dicpick/single_form.html' %}

{% block heading %}Reset Password{% endblock heading %}

{% block help_text %}
  {% if validlink %}
    Please enter your new password twice so we can verify you typed it in correctly.
  {% else %}
    The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
  {% endif %}
{% endblock help_text %}

{% block form %}
  {% if validlink %}
    {{ block.super }}
  {% endif %}
{% endblock form %}

{% block cancel_url %}/{% endblock cancel_url %}
